@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Tridactyl minimal CSS
 *
 * Contributors: aplaice, Oliver Blanthorn, Colin Caine
 *
 * Move this file to %appdata%/Mozilla/Firefox/[your-profile]/chrome/userChrome.css 
 * Currently, it reduces the amount of padding around the UI, removes the tab bar
 * and autohides the navigation bar. If you want to drag the window around press
 * "alt" and then use the menu bar to move it, but you're better off pressing 
 * the Windows key + an arrow key to move the window where you want it.
 *
 * If you're not on Windows, you can find your profile folder on
 * about:support 
 *
 * Borrowed from https://www.reddit.com/r/FirefoxCSS/comments/73359a/my_firefox_57_setup/?utm_content=title&utm_medium=browse&utm_source=reddit&utm_name=FirefoxCSS
 *
 * This file is a work in progress.
 *
 * Any information on where to find documentation on valid properties we can edit here would be appreciated.
 *
 */


/* auto-hide the tab and navigation bar in a similar way to fullscreen mode */

/* User config */
#navigator-toolbox {
    /* The height of the area at the top of the screen that causes the nav-bar to be shown
    If zero, you can still focus with <C-l> or F6.
     */
    --tridactyl-auto-show-zone: 10px;
}

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
#TabsToolbar {
    visibility: collapse !important;
}

/* to hide the sidebar header */
#sidebar-header {
    visibility: collapse;
}
